@use '../abstracts/' as a;

body{
    background-color: black;
    color: var(--clr-primary);
}

p{
    font-size: var(--fs-medium);
    text-align: center;
    @include a.atExtraSmall{
        font-size: calc( var(--fs-medium) * 1.25 );
    }
    margin: 1.5em 0;

    .formats{
        display: block;
        color: var(--clr-accent);
        margin: 0.25em 2.25em 0;
    }
}

.hero-img{
    position: relative;
    overflow: hidden;
    opacity: 0;
    animation: slideInLeft 1.5s ease-out forwards;

    &::before{
        background: linear-gradient( to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        transform: skewX(-25deg) translateX(-150%);
        width: 50%;
        z-index: 2;
        animation: shine 1.15s ease-in-out 1s;
    }
}

.trailer{
    position: relative;
    display: grid;
    place-items: center;
    border: 1px solid #fff;
    border-radius: 2px;
    cursor: pointer;

    .trailer-thumb{
        width: 100%;
    }

    .fa-circle-play{
        position: absolute;
        font-size: 3rem;
        @include a.atSmall{
            font-size: 4rem;
        }
        @include a.atMedium{
            font-size: 6rem;
        }
        color: #fff;
    }

    #video-lightbox{
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        border: 1px solid #fff;
        border-radius: 2px;
        background: #FFF;
        z-index: 2;
        overflow: hidden;

        &.show{
            display: block;
        }

        iframe{
            width: 100%;
            height: 100%;
            border: 0;
        }
    }
}

.socials{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.8em;

    a{
        transition: transform 0.5s ease;
        &:hover{
            transform: translateY(-5px);
        }
    }

    .fa-stack{
        color: #fff;
    }
 
    .fab{
        color: #000;
        font-size: 2.5rem;
    }
    .fa-facebook{
        font-size: 2.8rem;
    }
}